.signup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
}

.signup .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.signup input {
  padding: 20px;
  border: none;
  outline: none;
  background-color: rgba(17, 25, 40, 0.6);
  color: white;
  border-radius: 5px;
}

.signup label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: underline;
}

.signup img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  opacity: 0.6;
}

.signup button {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #1f8ef1;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.signup button:disabled {
  cursor: not-allowed;
  background-color: #1f8ff19c;
}

.signup .item label {
  color: lightblue;
}

.custom-link {
  color: rgb(83, 83, 241);        
  text-decoration: none; 
}

.custom-link:visited {
  color: lightblue;        
}

.custom-link:hover {
  color: red;   
}

.custom-link:active {
  color: lightblue;   
}
