* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%; 
}

body {
  background: url("./assets/bg.jpeg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(15px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  display: flex;
}

.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(5px); 
}
